@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

$primary: #1db954;
$light: #ffffff;
$dark: #191414;
$font: "Inter", sans-serif;

* {
  margin: 0;
  background: $dark;
  color: $light;
  font-family: $font;
}

body {
  padding: 10%;

  #correct-container {
    clip-path: circle(0 at 0 50%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $primary;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      border-radius: 50%;
      color: white;
      width: 150px;
      height: 150px;
    }
  }

  &.correct {
    #correct-container {
      clip-path: circle(150% at 0 50%);
    }
  }
}

h2 {
  color: $primary;
  margin-bottom: 5px;
}

h4 {
  opacity: 0.6;
  margin-bottom: 10px;
}

label {
  color: rgba($light, 0.5);
  margin-top: 10px;
  display: block;
  margin-bottom: 5px;
}

input {
  border: 2px solid rgba($light, 0.1);
  min-width: 170px;
  padding: 10px 15px;
  outline-color: $primary;
  border-radius: 3px;
  font-family: $font;
}
